# Python
venv/
__pycache__/
*.pyc

# Node.js
node_modules/
.next/
npm-debug.log*
yarn-error.log*

# VSCode
.vscode/

# Docker (se necessário, embora o compose file seja útil)
# postgres_data/ # Depende se você quer ignorar o volume local

# Outros
.env # Se você usar variáveis de ambiente em arquivo
*.local